/* You can add global styles to this file, and also import other style files */
@import '../node_modules/primeng/resources/themes/nova-light/theme.css';
html, body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }


  .content {
    flex: 1 0 auto;
  }
  .footer {
    flex-shrink: 0;
  }
div.card-header {
 font-size: large;
}

div.card {
  margin-top: 10px
}

.table {
  margin-top: 10px
}
.ui-table-scrollable-header {
  overflow-y: scroll;
  }

  .myButton {
    width: 90px;
  }